<div class="sidebar sticky">
  <img src="{% if page.name %}
          {% assign image_file = site.static_files | where: "basename", page.filename | append: "_avatar" | first %}
          {% if image_file %}{{ image_file.path | relative_url }}{% else %}{{ "assets/images/avatars/platzhalter_avatar.png" | relative_url }}{% endif %}
          {% else %}{{ "assets/images/avatars/platzhalter_avatar.png" | relative_url }}
          {% endif %}"
          alt="{% if page.name %}{{ page.name }}{% endif %}">
  {% if page.name %}<h3>{{ page.name }}</h3>{% endif %}
  {% if page.discord %}<p><i class="fab fa-fw fa-discord" aria-hidden="true"></i><span> </span>{{ page.discord | markdownify | remove: "<p>" | remove: "</p>"}}<br>
  {% if page.army %}{{ page.army | markdownify | remove: "<p>" | remove: "</p>"}}{% endif %}</p>{% endif %}
</div>
